/* 
    main font => font-family: 'Roboto', sans-serif;
*/
html
{
    scroll-behavior: smooth;
}

/* start header */
header
{
    height: 65vh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center top;
     background-attachment: fixed;
}
    /* start account details */

.acc-details
{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
}
    /* start left section */

.acc-details .left i
{
    font-size: 14px;
}
.acc-details .left p
{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

    /* end left section */
    /* start right section */
.collapse ul li a
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 30px;
}
.collapse ul li a:hover
{
    color: red;
}

    /* end right section */
    /* end account details */


    /* start up nav */
.up-nav
{
    margin-top: 30px;
    background-color: #DC3734;
    position: relative;

}
.up-nav::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: -32px;
    border-width: 16px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
    border-right-color: #DC3734;
    border-bottom-color: #DC3734;
}
.up-nav::after
{
    content: '';
    position: absolute;
    top: 0px;
    right: -32px;
    border-width: 16px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: #DC3734;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: #DC3734;
}
@media screen and (max-width: 1199px)
 {
    .up-nav::before
    {
        opacity: 0;
    }
    .up-nav::after
    {
        opacity: 0;
    }
    .brand-nav .flex::before
    {
        opacity: 0;
    }
  }
  
.up-nav .flex
{
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}
.up-nav .flex i
{
    color: white;
    margin-left: 5px;
}
.up-nav .flex i:hover
{
    color: black;
}
    /* end up nav */
    
    /* start main navbar */
.brand-nav .flex
{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.brand-nav .flex::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: -86px;
    border-width: 43px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0, 0, 0, 0.9);
    border-bottom-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 1199px)
 {
    .brand-nav .flex::before
    {
        opacity: 0;
    }
  }

.brand-nav ul li
{
    display: inline;


}
.brand-nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}
.brand-nav ul li a:hover
{
    color: red;
    font-family: 'Roboto', sans-serif;
}
.collapse form input
{
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 0;
    outline: none;
}
.collapse form input:focus
{
    background-color: rgb(51, 51, 51);

}
.collapse form button 
{
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    right: 3%;
}
.collapse form button:hover
{
    background-color: transparent;
    border: none;

    outline: none;
}
.collapse form button:focus
{
    background-color: transparent;
    border: none;
    outline: none;
}
    /* end main navbar */
    /* start header content */

.header-content
{

    margin-top: 50px;

}
.header-content h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 65px;
}
.header-content h1 span
{
    font-weight: 700;
}
.header-content p
{
    margin: 10px auto 40px ;
    font-size: 18px;
    color: #eee;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}
.header-content a
{
    text-decoration: none;
    color: white;
    background-color: rgb(209, 23, 23) ;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 5px;
}
.header-content a:hover
{
    background-color: rgba(209, 23, 23, 0.9) ;

}

    /* end header content */
/* end header */

/* start search box */

.search-box
{
    transform: translate(0px,-100px);
    
}
@media screen and (max-width: 991px)
 {
    .search-box
    {
        transform: none;
    }
  }
.search-box .container
{
    padding: 0;
}
.search-box .box
{
    background-color: #D11717;
    border-radius: 5px;

}
.search-box .box select
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 10px 20px;
    outline: none;
}
.search-box .box .select  
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-search-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}
.box-search-button button
{
    background-color: #a01111;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.2s all ease 0s;
    
}
.box-search-button button:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}



/* end search box */


/* start selling section */
.selling .container
{
    background-image: url(../images/13.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.selling-sec h3
{
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.selling-sec h3 a
{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.selling-sec h3 a:hover
{
    color: red;
}
.selling-sec p
{
    margin: 15px auto 35px;
    font-size: 18px;
    color: #eee;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}
.selling-sec > a
{
    border-radius: 3px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    background-color: rgb(209, 23, 23);


}
.selling-sec > a:hover
{
        background-color: rgba(209, 23, 23, 0.9);

}


/* end selling section */


/* start lastest news section */
    /* section title */
.sec-title h3
{
    font-size: 24px;
    font-weight: 500;
    background-color: #D11717;
    width: 17%;
    position: relative;
    text-align: center;
    
}
.sec-title h3::after
{
    content: '';
    position: absolute;
    top: 0px;
    right: -44px;
    border-width: 22px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: #D11717;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: #D11717;
}
@media screen and (max-width: 1199px)
 {

    .sec-title h3
    {
        width: 35%;
        margin-left: auto ;
        margin-right: auto ;
        margin-bottom: 48px;
    }
    .sec-title h3::after
    {
        opacity: 0;
    }
  }

    /* section title */

    /* section news */

        /* event content */
            /* event date */
.eve-date i 
{
    font-size: 16px;
}
            /* event date */

            /* event caption */
.eve-cap h5
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.eve-cap h5:hover
{
    color: red;
}

            /* event caption */
        /* event content */

    /* section title */


/* end lastest news section */


/* start find your car section */
.findyourcar
{
    background-image: url(../images/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fyc-content
{
    border: 15px solid #f5f5f5;
}
.find-sec
{
    background-image: url(../images/car-race-438467_960_720.jpg);
    background-size: cover;

}
.find-sec h2
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
}
.find-sec p
{
    width: 49%;
    max-width: 700px;
    margin: 10px auto 0px auto;
    font-size: 18px;
}

    /* statistics section */
.state
{
    margin-top: 48px;
    margin-bottom: 48px;
}

.number
{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #fff;
    border-right-color: #777;
}
.state p
{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
    /* statistics section */
    /* 2 buttons section */

.sml-box-btns .btns button
{
    padding: 13px 32px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 650;
    color: #333;
    background-color: #fff;
    outline: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


}


.sml-box-btns .btns button:focus
{
    color: white;
    background-color: rgb(209, 23, 23);
}
    /* 2 buttons section */

    /* small box search */
.search-sec 
{
    background-color: #D11717;
}
.sml-box select
{
    width: 70%;
    padding: 10px 20px;
    margin-right: 40px;
    outline: none;
}
.box-search-btn button
{
    background-color: #a01111;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.2s all ease 0s;
    
}
.box-search-btn button:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

    
    /* small box search */

/* end find your car section */


/* start rental cars section */

    /* head title */
.head-title h3
{
    font-size: 24px;
    font-weight: 500;
    background-color: #D11717;
    width: 17%;
    position: relative;
    text-align: center;
}
.head-title h3::after
{
    content: '';
    position: absolute;
    top: 0px;
    right: -44px;
    border-width: 22px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0);
    border-left-color: #D11717;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: #D11717;
}
@media screen and (max-width: 1199px)
 {

    .head-title h3
    {
        width: 35%;
        margin-left: auto ;
        margin-right: auto ;
        margin-bottom: 48px;
    }
    .head-title h3::after
    {
        opacity: 0;
    }
  }
    /* head title */
    /* cars section */
.ava-car
{
    margin-bottom: 20px;
    overflow: hidden;
}
.ava-car img
{
    max-width: 100%;
}
.con-car h6
{
    width: 80%;
    text-align: left;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:rgb(119, 119, 119);
}
.con-car h6:hover
{
    color: red;
    cursor: pointer;
}
.con-car h6 span
{
    color: #eaa335;
}
.price-car
{
    background: #d11717;
    position: relative;
}
.price-car::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 16px;
    border-style: solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: rgba(0,0,0,0) ;
    border-bottom-color:  rgba(0,0,0,0) ;
}
.price-car .prc p
{
    padding: 12px 15px;
    text-align: right;
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    font-weight: 700;

}
.info-car
{
    width: 20%;
    padding-bottom: 4px;
    top: -200px;
    left: 0;
    margin-left: 4%;
    transition: all 0.5s ease 0s;

}
.ava-car:hover .info-car
{
    top: 0;
}
.info-car ul
{
    color: #333;
    margin-left: 5px;

}
.info-car ul li i
{
    margin-bottom: 5px;
    margin-right: 10px;
}
    /* cars section */
/* end rental car section */



/* start product section */

/* heading of that section copy paste form other up  */
@media screen and (max-width: 1199px)
 {

    .product-heading h3
    {
        width: 50% !important;
        padding: 5px;
        margin-left: auto ;
        margin-right: auto ;
        margin-bottom: 48px;
    }

  }

/* start theproduct */

.theproduct .pro-heading h5
{
    color: rgb(51, 51, 51);
    font-family: "Roboto", sans-serif ;
    font-weight: 700;
    line-height: 20px;
}
.theproduct .pro-heading h5:hover
{
    color: red;
    cursor: pointer;
}

.theproduct .pro-rate
{
    color: #ffcc00;;
    font-size: 15px;
    cursor: pointer;
    
}
.theproduct .pro-rate i:nth-of-type(4),i:nth-of-type(5)
{
    color: #333;
    opacity: 0.6;
}
.theproduct .pro-rate i:nth-of-type(4):hover ,i:nth-of-type(5):hover
{
    color: #ffcc00 ;
    opacity: 1;
}
.theproduct .pro-price
{
    color: #d11717;
    font-size: 28px;
    font-weight: normal;
    font-family: "Roboto", sans-serif ;
    line-height: 37.5px;
    text-align: center;

}
.theproduct .pro-btn button
{
    background: #d11717;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
}
.theproduct .pro-btn button:hover
{
    background-color: rgba(0, 0, 0, 0.9);
}
/* end theproduct */

/* end product section */


/* start features section */
.features
{
    background-color: #111;
}
.fea
{
    background-color: #222;
    color: white;

}
.fea .icon 
{
    width: 50px;
    height: 50px;
    background-color:#d11717;
    text-align: center;
    padding-left: 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;

}
.fea span i
{

}
.fea .fea-content
{

}
.fea .fea-content  p
{
    margin: 0;
    font-weight: 500;
    font-family: "Roboto", sans-serif ;

}
/* end features section */


/* start footer */
.comp-info , .newsletter  , .link, footer
{
    background-color: #111111;
}

footer h3
{
    color: white;
    font-family: "Roboto", sans-serif ;
    width: 50%;
    font-size: 22px;
    padding-bottom: 13px;
    border-bottom: 2px solid #d11717;
    position: relative;
    margin-top: 12px;
    margin-bottom: 16px;
}
footer p 
{
    color: #999;
    font-family: "Roboto", sans-serif ;
    font-size: 15px;
    line-height: 22.5px;
    width: 90%;
}
footer ul
{
    list-style: none;
    color: #999;
    text-align: left;
    padding: 0;

}
footer ul li
{   
    border-bottom: #333 dashed 1px;
    padding: 8px;
}
footer ul li:hover
{
    color: red;
    cursor: pointer;
}

footer ul li i
{
    margin-right: 10px;
}

footer input
{
    width: 90%;
    margin: 12px auto 16px;
    padding: 8px 16px;
    border: none;
    outline: none;
    color: #555;
    background: #fff;
}
footer button
{
    background: #d11717;
    box-shadow: none;
    outline: none;
    color: #fff;
    border-radius: 1px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
}
footer button:hover
{
    background: #a90c0c;

}

/* start copyright */


/* start copyright */

    /* text copy right */
.copy p
{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0px 15px 0px;
    font-weight: 400;
    
    font-family: "Courier New";
}
.copy p span
{
    color: red;
    font-weight: 600;

}

    /* text copy right */

    /* media */
.med
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif ;
    background-color: #151515;
    border-radius: 50%;
    margin-left: 16px;
    color: grey;

}
.med:hover
{
    color: white;
}
    /* media */

/* end footer */
