<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fokir</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Media queries.css">
</head>
<body>



<header class=" vh-100 bg-info ">
    <div class="header-bg d-flex justify-content-center align-items-center">

        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container d-flex justify-content-between">    
        
                <a class="navbar-brand color-main " href="index.html">Fokir</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-grip-lines color-main fa-2x"></i></span>
                </button>
                
                <div class="collapse navbar-collapse text-sm-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feedback">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blogs">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="head-content text-center">
                <h3 class="text-white">Hello I'm</h3>
                <h1 class="color-main">ALEX SMITH</h1>
                <p class=" text-white lead">Professional Web Developer</p>
            </div>
        </div>

    </div>
</header>

<section id="about" class="about m-section">
    <div class="container ">
        <div class="row">
            <div class="about-img  col-lg-4 mr-5 mr-md-0 ">
                <div class="img-border position-relative">
                    <img src="images/about/profile.jpg" alt="me" class=" img-fluid">
                    <div class="img-media w-100 d-flex justify-content-around align-items-center">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>
            </div>

            <div class="about-content  col-lg-7  " >
                    <div class="about-title  py-3 ">
                        <h2><span class="color-main">I </span>HELLO,</h2>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
    
                    <div class="about-information  ">
                        <div class="row">
                            <div class="col-6">
                                <div class="info name">
                                    <p><span>Name: </span>Rdam smith</p>
                                </div>
            
                                <div class="info age">
                                    <p><span>Age: </span>26 Year</p>
                                </div>
            
                                <div class="info freelance">
                                    <p><span>Freelance: </span>Available</p>
                                </div>
                            </div>
        
                            <div class="col-6">
                                <div class="info jobtitle">
                                    <p><span>Job Title: </span>UI/UX Designer</p>
                                </div>
            
                                <div class="info location">
                                    <p><span>Location: </span>United States, US</p>
                                </div>
            
                                <div class="info email">
                                    <p><span>E-mail: </span>Nadia420@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="about-buttons mt-2">
    
                        <button>Download CV <i class="fas fa-download"></i></button>
                        <button>Hire Me <i class="fas fa-paper-plane"></i></button>
    
                    </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="service m-section">
    <div class="container ">

        <div class="" >
            <h2 class="section-heading ">Our Services</h2>
        </div>

        <div class="services ">
            <div class="row">

                <div class="serv col-lg-3 col-md-6 col-sm-12
                 py-5">
                    <div class="serv-shadow text-center py-5 px-1">
                        <i class="fas fa-pencil-ruler"></i>
                        <h3>UI/UX DESIGN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
                    </div>
                </div>

                <div class="serv col-lg-3 col-md-6 col-sm-12
                 py-5">
                    <div class="serv-shadow text-center py-5 px-1">
                        <i class="fas fa-code"></i>
                        <h3>APP DEVELOPMENT</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
                    </div>
                </div>

                <div class="serv col-lg-3 col-md-6 col-sm-12 py-5">
                    <div class="serv-shadow text-center py-5 px-1">
                        <i class="fas fa-chart-line"></i>
                        <h3>PRODUCT DESIGN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
                    </div>
                </div>

                <div class="serv col-lg-3 col-md-6 col-sm-12 py-5">
                    <div class="serv-shadow text-center py-5 px-1">
                        <i class="fas fa-cogs"></i>
                        <h3>UI/UX DESIGN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section id="portfolio" class="portfolio m-section ">
    <div class="container ">

        <div class="">
            <h2 class="section-heading port-head ">Our Portfolio</h2>
        </div>

        <div class="port-btns pt-3 pb-4 mb-2  d-flex justify-content-around align-items-center">
            <a href="#portfolio" class="active">ALL</a>
            <a href="#portfolio" >Graphic</a>
            <a href="#portfolio" >Web Design</a>
            <a href="#portfolio" >Branding </a>
        </div>

        <div class="port-photos">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/1.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/2.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/3.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/4.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/5.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-4  photo mb-3">
                    <img src="images/portfolio/6.jpg" alt="project" class="img-fluid bg-danger w-100">
                    <div class="bg-icon position-absolute h-100 p-0 d-flex justify-content-end align-items-end">
                        <i class="far fa-file-image color-main fa-2x pr-2 pb-2 "></i>
                    </div>
                </div> 


            </div>
        </div>
        
    </div>
</section>

<section id="statistics" class=" m-section">
    <div class="container">

        <div class="statistics ">
            <div class="row">

                <div class=" col-sm-12 col-md-3 text-center">

                    <div class="icon  ">
                        <i class="fas fa-users color-main fa-2x p-2"></i>
                    </div>
                    <div class="heading p-2 ">
                        <h3 class="py-2">8</h3>
                        <h5>Team members</h5>
                    </div>

                </div>

                <div class=" col-sm-12 col-md-3 text-center">

                    <div class="icon  ">
                        <i class="far fa-file color-main fa-2x p-2"></i>
                    </div>
                    <div class="heading p-2 ">
                        <h3 class="py-2">345</h3>
                        <h5>Complete Projects</h5>
                    </div>

                </div>

                <div class=" col-sm-12 col-md-3 text-center">

                    <div class="icon  ">
                        <i class="fas fa-cloud-download-alt color-main fa-2x p-2"></i>
                    </div>
                    <div class="heading p-2 ">
                        <h3 class="py-2">1800</h3>
                        <h5>Files Downloaded</h5>
                    </div>

                </div>

                <div class=" col-sm-12 col-md-3 text-center">

                    <div class="icon  ">
                        <i class="fas fa-coffee color-main fa-2x p-2"></i>
                    </div>
                    <div class="heading p-2 ">
                        <h3 class=" py-2">1200</h3>
                        <h5>Lines Of Code</h5>
                    </div>

                </div>


                


            </div>
        </div>
    </div>
</section>

<section id="feedback" class="feedback m-section">
    <div class="container ">
        
        <div class=" ">
            <h2 class="section-heading port-head ">Client's Feedback</h2>
        </div>

        <div class="section-slider  position-relative">

            <div id="carouselExampleIndicators" class="carousel slide my-5" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active slider-btn"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class="slider-btn"></li>

                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="client client1   py-5 ">
                        <div class="row">
                            <div class="client-img col-lg-3 d-flex justify-content-center">
                                <img src="images/testimonial/2.jpg" alt="" class=" rounded-circle img-fluid  ">
                            </div>
        
                            <div class="client-info col-lg-9 ">
                                <h3>Alex ander</h3>
                                <i class="fas fa-map-marker-alt  py-2"> USA</i>
                                <p class="lead" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ducimus ex magni sunt, architecto vel dolore, laudantium dignissimos debitis optio! Exercitationem adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
    
                  </div>
                  <div class="carousel-item">
                    <div class="client client2  py-5 ">
                        <div class="row">
                            <div class="client-img col-lg-3 d-flex justify-content-center">
                                <img src="images/testimonial/3.jpg" alt="" class=" rounded-circle img-fluid  ">
                            </div>
        
                            <div class="client-info col-lg-9">
                                <h3>Alex ander</h3>
                                <i class="fas fa-map-marker-alt  py-2"> USA</i>
                                <p class="lead" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ducimus ex magni sunt, architecto vel dolore, laudantium dignissimos debitis optio! Exercitationem adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>

              </div>

            <!-- 
             -->

        </div>
    </div>
</section>

<section id="blogs" class="blogs m-section ">
    <div class="container ">
        <div class="row">
            <div class=" bg- col-sm-12 mb-5">
                <h2 class="section-heading">Our Blog</h2>
            </div>

            <div class="blog col-lg-4">
                <div class="blog-banner ">
                    <img src="images/blog/1.jpg" alt="" class="img-fluid">
                </div>
                <div class="blog-content  pt-3 pb-2 ">
                    <p>23 November, 2015</p>
                    <h3>Web Design Blog Post</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.</p>
                    <a href="#">READ MORE <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>

            <div class="blog col-lg-4">
                <div class="blog-banner ">
                    <iframe width="auto" height="auto" allowfullscreen="" allow="autoplay; encrypted-media" src="https://www.youtube.com/embed/uVju5--RqtY?feature=oembed" class=" w-100"></iframe>
                </div>
                <div class="blog-content  pt-3 pb-2 ">
                    <p>23 November, 2015</p>
                    <h3>Web Design Blog Post</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.</p>
                    <a href="#">READ MORE <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>

            <div class="blog col-lg-4">
                <div class="blog-banner ">
                    <img src="images/blog/3.jpg" alt="" class="img-fluid">
                </div>
                <div class="blog-content  pt-3 pb-2 ">
                    <p>23 November, 2015</p>
                    <h3>Web Design Blog Post</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.</p>
                    <a href="#">READ MORE <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="contact" class="contact ">
    <div class="container ">

        <div class=" ">
            <h2 class="section-heading">Contact Us</h2>
        </div>

        <div class="section-form  py-5 px-3">
            <form action="">
                <div class="row">

                    <div class="col-md-12 ">

                                <div class="form  d-flex justify-content-between">

                                    <input type="text" name="name" id="name" placeholder="Name" required class="w-45" >
                                    <input type="email" name="email" id="name" placeholder="Email" required  class="w-45"> 

                                </div>
                    </div>

                    
                    
                    <div class="col-md-12 ">
                        <div class="form">
                            <input type="text" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                    </div>

                    <div class="col-md-12"> 
                        <div class="form">
                            <textarea   rows="4" placeholder="Message for me"  name="text-message" id="text-message" required></textarea>
                        </div>
                    </div>
                    
                    <div class="col-md-12 ">
                        <div class="form form-btn">
                            <button type="submit" class="">SEND MESSAGE</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

<footer class=" text-center  pt-4 pb-2">
    <div class="container ">

        <div class="media">
            
            <div class="media-container d-flex justify-content-around  mx-auto p-2">
                <div class="med-icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
    
                <div class="med-icon">
                    <i class="fab fa-twitter"></i>
                </div>
    
    
                <div class="med-icon">
                    <i class="fab fa-google"></i>
                </div>
    
                <div class="med-icon">
                    <i class="fab fa-github"></i>
                </div>
            </div>

        </div>

        <div class="copyright py-3">
            <p>Copy Right 2020 &copy; By Theme-fair All Rights Reserved</p>
            <span>Developed by <span class="color-main">MAROOO</span></span>
        </div>
    </div>
</footer>

       <!-- bootstarp scripts  -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    
</body>
</html>