body{
    padding: 0px;
    margin: 0px;


}
.page1{
    background-image: url(proche.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}
.header img{
    top: 0%;
    margin: auto;
    transition: all 0.5s ease 0s
}
.header img:hover{
    transform: scale(2,2);
    z-index: 0
}
.header ul{
    display: inline-flex;
    margin: 5px;
    position: relative;
    left: 425;
}
.header ul li{
    border: 0.5px groove #FCCF02;
    border-radius: 10px;
    padding: 4 8px;
    color: #FCCF02;
    font-size: 24px;
    margin-right: 100px;
    list-style: none;
    font-family: sans-serif;
    cursor: pointer; 
    transition: all 0.1s ease 0s;
}
.header ul li:hover{
    color:#2980B9;
    background-color: white;
}
.header p{
    color:#2980B9;
    font-size: 40px;
    text-align: center;
}
.header p:hover{
    width: 800px;
    border-radius: 30px;
    background-color: white;
    border: 2px groove #FCCF02;
    margin: 40px auto;
}
.contant fieldset{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 3px groove #C1A329;
    width: 1400px;
    text-align: center;
    border-radius: 25px;
}
.contant fieldset legend{
    color:white;
    font-size: 24px;
    border: 1.5px groove #FCCF02;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.contant fieldset input{
    border: 3px groove #FCCF02;
    background: Transparent;
    text-align: center;
    padding: 10px;
    width:500px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    caret-color: yellow;
    color: white;
    font-size: 20px;
}
.contant fieldset input::placeholder{
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    color: white
}
.contant fieldset button{
    width: 200px;
    height: 35px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCCF02;
    color:white;
    font-size: 18px;
    border:0px groove black;
    border-radius: 10px;
    cursor: pointer;
}
.page2{
    background-image: url(cover2.jpg);
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 0px; 
}
.page2 fieldset{
    margin-right: auto;
    margin-left: auto;
    border: 3px groove #C1A329;
    width: 1400px;
    text-align: center;
    border-radius: 25px;

}
.page2 fieldset legend{
    color:#FF0038;
    font-size: 24px;
    border: 1.5px groove #FCCF02;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.page2 fieldset select{
    display: block;
    font-size: 20px;
    border: 3px groove white;
    margin: 50px auto;
    width: 310px;
    text-align: center;
    padding: 10px;
    background: Transparent;
    color: #FF0038;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
.page2 fieldset textarea{
    width: 600px;
    height: 150px;
    text-align: center;
    color: #FF0038;
    background: Transparent;
    border: 3px groove white;
    border-radius: 25px;
    padding: 15px;
    font-size: 25px;
    resize: none;
}
.page2 fieldset textarea::placeholder{
    color:#FF0038;
    font-size: 25px;
    position: relative;top: 30px;
}
.page2 fieldset button{
    width: 200px;
    height: 35px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color:#FF0038;
    font-size: 18px;
    border:3px groove white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}
p.copy{
    position: relative;bottom: 40px;
    text-align: center;
    color: white;
    font-family: "Courier New"; 
    font-size: medium;


}




