body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.service-icon
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 10px #0078ff;
}
.service-icon:hover
{
  box-shadow: 0 0 0 10px rgba(0, 120, 255, 0.5);
  background-color: #0078ff;
  transition: 0.3s ease-out;
}
.service-icon:hover i
{
  color: white;
  transition: 0.35s ease-out;
}
.service-icon i
{
  color: black;
  font-size: 40px;
}