/* fonts link ready to use 
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
*/


/* start navbar */


.nav-list
{
    width: 48%;
}
.nav-list ul   
{
    width: 100%;

}
.nav-list ul li a
{
    color: #2a2a2a;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.2 ease;
    padding-bottom: 5px;

}
.nav-list ul li a:hover
{
    color: #fb5849;
    border-bottom: #fb5849 2px solid;
}
.nav-list ul li a:focus
{
    border-bottom: #fb5849 2px solid;
    color: #fb5849;
}
/* end navbar */
/* start header */
header
{
    margin: 0 0 100px 0;
    padding: 0;
 
}
.header-flex
{
    background-image: url(../images/top-left-bg.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    width: 35%;
}
.header-contant 
{
    width: 100%;
}
.header-contant h4
{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
}
.header-contant p
{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    
}
.header-contant a
{
    width: 40%;
    font-size: 13px;
    color: #fb5849;
    padding: 12px 25px;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
}
.header-contant a:hover
{
    color: #fb5849;
}
.header-contant a:focus
{
    color: #fb5849;
}
.header-slider
{
    width: 65%;
    
}
.carousel .carousel-item {
    height: 650px;
}
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 650px;
  }
/* end header */
/* start aboutus */
.aboutus
{
    box-sizing: border-box;
    margin-bottom: 100px;
}
.caption h4
{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    /* margin-top: 2%; */
}
.caption h4::before
{
    display: inline-flex;
    content: "";
    border-top: 1px solid #fb5849;
    width: 7%;
    margin: 0 10px;
    transform: translateY(-5px);
}
.caption h2
{
    width: 70%;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
}
.caption p
{
    
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
    width: 85%;
}
.cap-right img{
    width: 90%;
}
/* end aboutus */


/* start menu */
.menu
{
    margin-bottom: 100px;
}
.our-menu-head h4
{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    /* margin-top: 2%; */
}
.our-menu-head h4::before
{
    display: inline-flex;
    content: "";
    border-top: 1px solid #fb5849;
    width: 3%;
    margin: 0 10px;
    transform: translateY(-5px);
}

.our-menu-head h2
{
    width: 30%;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
}
    /* start menu choosng */
.menu-food
{
    width: 20%;
    position: relative;
    height: 400px;
    overflow: hidden;
    

}
.menu-food img
{
    border-radius: 5px;
}
.menu-food .price
{
    border-top-left-radius: 2px;
    width: 20%;
    position: absolute;
    top: 2%;
    left: 2.5%;
    background-color: #fb5849;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 70px;
}
.menu-food .menu-caption
{
    padding: 12.5px 10px 20px 10px;
    color: white;
    background-color: #fb5849;
    position: absolute;
    top: 89%;
    transition: 0.5s all ease;
    width: 95%;
    
}
.menu-food:hover .menu-caption
{
    top: 70%;
}
.menu-food .menu-caption h4
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.menu-food .menu-caption p
{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

/* end  menu */

/* start our chefs */
.chefs
{
    box-sizing: border-box;
    margin-bottom: 100px;
}
.chef-cap p
{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.chef-cap h3
{
    width: 30%;
    line-height: 40px;
    margin-top: 20px;

    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
}
    /* start chefs info */  

.chef
{
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    text-align: center;
    border: 1.5px solid #afafaf;
    border-radius: 3px;
    width: 32.333%;
    transition: 0.2s all ease;
}
.chef img
{
    width: 100%;
    border-radius: 3px;

}
.chef h4
{
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin-top: 10px;
    margin-bottom: 5px;
}
.chef p
{
    font-size: 14px;
    color: #2a2a2a;
}
.chef:hover
{
    border: 1.5px solid #fb5849;
}
.chef:hover h4
{
    color: #fb5849;
}
    /* end chefs info */
/* end our chefs */


/* start contact us */
.contact-us
{
    margin-bottom: 100px;
    background-image: url(../images/reservation-bg.jpg);
    background-position: top center;
}
/* start left side */
.contact-cap
{
    width: 90%;
    
}

.contact-cap h6
{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    
}
.contact-cap h6::before
{
    display: inline-flex;
    content: "";
    border-top: 1px solid #fff;
    width: 5%;
    margin: 0 10px;
    transform: translateY(-5px);
}
.contact-cap h2
{
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 30px;
}
.contact-cap p
{
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 65px;
}
.ways
{
    color: white;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #212529;
    width: 40%;
    border-radius: 5px;
    position: relative;
    overflow: visible;
}
.ways i
{
    margin-bottom: 15px;
}
.ways i::before
{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    color: #fff;
    background-color: #fb5849;
    border-radius: 50%;
    font-size: 24px;
    margin-top: -35px;
    text-align: center;
}

/* end left side */

/* start right side */
.contant-right
{
    border-radius: 5px ;
}
.Table-Reservation input
{
    width: 40%;
    margin: 2%;
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.Table-Reservation input:focus
{
    border: 1px #fb5849 solid;
}
.Table-Reservation ::-webkit-input-placeholder
{
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    padding-left: 1%;
}
.Table-Reservation textarea
{
    width: 85%;
    height: 25%;
    margin: 2%;
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    outline: none;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.Table-Reservation textarea:focus
{
    border: 1px #fb5849 solid;
}
.Table-Reservation button
{
    font-size: 13px;
    color: #fff;
    background-color: #fb5849;
    padding: 12px 25px;
    width: 90%;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
    margin: auto;
}
.Table-Reservation button:hover
{
    background-color: #FB695C;
    color: white;
}
/* end right side */

/* end contact us */


/* start klassy week */

    /* start week caption (first div) */
.week-cap p
{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.week-cap h3
{
    line-height: 40px;
    margin: 20px auto 25px;
    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
    width: 40%;
}
    /* end week caption (first div) */
    /* start week food (icons) */
.eat
{
    width: 25%;
    padding: 0;
    text-align: center;
    margin-bottom: 3%;
}
.eat p
{
    text-transform: capitalize;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 0.3s;
    text-align: center;
    margin-bottom: 0;
}
.eat:hover p
{
    color: #fb5849;
}
.eat img
{
    width: 30%;
}
    /* end week food (icons) */

    /* start klassy week menu */
.klassy-week
{
    margin-bottom: 100px;
}
.food
{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    
}
.food-img
{
    width: 20%;
    text-align: center;
}
/* .food-img img
{
    width: 75%;
} */
.food-cap
{
    width: 60%;
    padding: 2%;
}
.food-cap h4
{
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
}
.food-cap p
{
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
}
.food-price
{
    background-color: #fb5849;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* end klassy week menu */


/* end klassy week */



/* start footer */

footer
{
    height: 25vh;
    background: #fb5849;
}
.media
{
    width: 30%;
}
.media ul
{
    cursor: pointer;
}
.media ul li
{
    color: white;
    font-size: 36px;
    margin-left: 20%;
    margin-right: 5%;
}
.media ul li i 
{

}
.logo
{
    width: 30%;
    text-align: center;
}
.logo img
{
    width: 70%;
}
.copyright
{
    width: 30%;
    text-align: right;
}
.copyright p
{
    margin-bottom: 0;
    font-family: "Courier New", verdana;
    color: white;

}

/* end footer */